node_modules
.DS_Store
front-end/.storybook/.docs
front-end/.next
front-end/public/favicons
front-end/styles/export
coverage
**/coverage
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo
*.zip
